<div class="pd-ltr-20 xs-pd-20-10">
  <div class="min-height-200px">
    <div class="page-header">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="title">
            <h4>Pickups</h4>
          </div>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item " aria-current="page">
                Pickup
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Pickups In Progress
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    	<!-- Simple Datatable start -->
      <div class="card-box mb-30">
        <div class="pb-20">
          <table class="data-table table stripe hover nowrap">
            <thead>
              <tr>
                <th class="table-plus datatable-nosort">#Traking Id</th>
                <th>Sum</th>
                <th>Governorate - City</th>
                <th>Status</th>
                <th>Creation Date</th>
                <th class="datatable-nosort">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of pickup">
                <td class="table-plus">{{p.codePickup}}</td>
                <td>{{p.sum}}</td>
                <td>{{p.governorate}}-{{p.city}}</td>
                <td>{{p.statusPickupSeller}}</td>
                <td>{{p.dateCreationPickup}}</td>
                <td>
                  <div class="dropdown">
                    <a
                      class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                      href="#"
                      role="button"
                      data-toggle="dropdown"
                    >
                      <i class="dw dw-more"></i>
                    </a>
                    <div
                      class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                    >
                      <a class="dropdown-item" href="#"
                        ><i class="dw dw-eye"></i> View Delivery Service</a
                      >
                      <a class="dropdown-item" [routerLink]="['/Seller/pickupsInProgress',p.codePickup]"
                        ><i class="dw dw-edit2"></i> Traking Your Pickup</a
                      >

                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
