<div class="u-s-p-y-60">
  <!--====== Section Content ======-->
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="section__content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 u-s-m-b-30">
          <div class="empty">
            <div class="empty__wrap">

              <span class="empty__big-text">404</span>

              <span class="empty__text-1">Looks like you're in wrong place.</span>

              <a class="empty__redirect-link btn--e-brand" (click)="gotoHome()">GO TO HOME</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <!--====== End - Section Content ======-->
</div>

