<div class="pd-ltr-20 xs-pd-20-10">
  <div class="min-height-200px">
    <div class="page-header">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="title">
            <h4>Requests</h4>
          </div>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item " aria-current="page">
                Requests
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                My Request
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>





    <div class="contact-directory-list">
      <ul class="row">
        <li class="col-xl-3 col-lg-4 col-md-6 col-sm-12" *ngFor="let r of request">
          <div class="contact-directory-box">
            <div class="contact-dire-info text-center">
              <div class="contact-avatar">
                <span>
                  <img src="../../../assets/vendors/images/photo2.jpg" alt="" />
                </span>
              </div>
              <div class="contact-name">
                <h4>{{r.agency.brandName}} </h4>
                <p>{{r.agencyDeliveryMan.agencyBranch.brandName}}</p>
                <div class="work text-success">
                  <i class="ion-android-person"></i> {{r.agencyDeliveryMan.firstName}} {{r.agencyDeliveryMan.lastName}}
                </div>
              </div>
              <div class="contact-skill">
                <span class="badge badge-pill">{{r.agencyDeliveryMan.governorate}}</span>
                <span class="badge badge-pill">{{r.localDateTime}}</span>
                <div *ngIf="r.requestStatus==='APPROVED'; else notApproved">
                <span class="badge badge-pill badge-success" >{{r.requestStatus}}</span>
                </div>
                <ng-template #notApproved>
                  <div>
                      <span class="badge badge-pill badge-warning">{{r.requestStatus}}</span>
                  </div>
              </ng-template>
              </div>
              <div class="profile-sort-desc">
                Check your Request and you can delete it.
              </div>
            </div>
            <div class="view-contact">
              <a  (click)="DeleteRequest(r.id)">Delete Request</a>
            </div>
          </div>
        </li>

      </ul>
    </div>











