<div class="pd-ltr-20 xs-pd-20-10">
  <div class="min-height-200px">

      <div class="page-header">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="title">
              <h4>Orders</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item " aria-current="page">
                  Stores
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Orders
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
<div class="row">
      <div class="col-md-3 mb-30" *ngFor="let o of order; let i = index" >

        <div class="card-box pricing-card mt-30 mb-30">
          <div class="pricing-icon">
            <img src="../../../assets/vendors/images/icon-online-wallet.png" alt="" />
          </div>
          <div class="price-title">Order Ref#{{o.ref}}</div>
          <div class="pricing-price" >{{SumProduct[i]}}<sub>/Dt</sub></div>
          <div class="text">
            <div *ngFor="let p of product; let c = index ">
                <p>Product Name: {{ p.name[c] }}</p>
          </div>
        </div>
          <div class="cta">
            <a [routerLink]="['/Seller/stores/orders', idStore, o.id]" class="btn btn-primary btn-rounded btn-lg">Picked Now</a>
          </div>
        </div>
      </div>

    </div>


  </div>




  <div class="footer-wrap pd-20 mb-20 card-box">
    DeskApp - Bootstrap 4 Admin Template By
    <a href="https://github.com/dropways" target="_blank"
      >Ankit Hingarajiya</a
    >
  </div>
</div>

