
<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
  <div class="grid">
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">ACCEPTED PAYMENT</span>
            <div class="text-900 font-medium text-xl">{{status.ACCEPTED_PAYMENT}}</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
            <i class="pi pi-money-bill text-blue-500 text-xl"></i>
          </div>
        </div>
        <span class="text-green-500 font-medium">%{{(status.ACCEPTED_PAYMENT/status.AllCount*100) | number:'1.2-2'}} </span>
        <span class="text-500"> from</span>
        <span class="text-green-500 font-medium"> {{status.AllCount}}</span>
        <span class="text-500"> Orders</span>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">REFUSED PAYMENT</span>
            <div class="text-900 font-medium text-xl">{{status.REFUSED_PAYMENT}}</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
            <i class="pi pi-money-bill text-orange-500 text-xl"></i>
          </div>
        </div>
        <span class="text-green-500 font-medium">%{{(status.REFUSED_PAYMENT/status.AllCount*100) | number:'1.2-2'}}</span>
        <span class="text-500"> from</span>
        <span class="text-green-500 font-medium"> {{status.AllCount}}</span>
        <span class="text-500"> Orders</span>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">WAITING PAYMENT</span>
            <div class="text-900 font-medium text-xl">{{status.WAITING_FOR_PAYMENT}}</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
            <i class="pi pi-shopping-cart text-cyan-500 text-xl"></i>
          </div>
        </div>
        <span class="text-green-500 font-medium">%{{(status.WAITING_FOR_PAYMENT/status.AllCount*100) | number:'1.2-2'}}  </span>
        <span class="text-500"> from</span>
        <span class="text-green-500 font-medium"> {{status.AllCount}}</span>
        <span class="text-500"> Orders</span>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">BASKETS</span>
            <div class="text-900 font-medium text-xl">{{status.BASKET}}</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width:2.5rem;height:2.5rem">
            <i class="pi pi-shopping-bag text-purple-500 text-xl"></i>
          </div>
        </div>
        <span class="text-green-500 font-medium">Waiting Confirmation </span>
      </div>
    </div>
  </div>
</div>
<div class="grid p-fluid">
  <div class="col-12 lg:col-6">
    <div class="card">
      <h5>Users by Orders Number</h5>
      <a href="{{PDF_OrderRankForUsersByStatusType}}">Download PDF</a>
      <p-chart type="bar" [data]="barData" [options]="barOptions"></p-chart>
    </div>

  </div>
  <div class="col-12 lg:col-6">
    <div class="card flex flex-column align-items-center">
      <h5 class="text-left w-full">Gouvernorat By Orders Number</h5>
      <br>
      <a href="{{PDF_RankGouvernoratByOrdersNumber}}">Download PDF</a>
      <br>
      <p-chart type="doughnut" [data]="pieData" [options]="pieOptions"></p-chart>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="card">
    <h5>Filter Menu</h5>
    <p-table #dt1 [value]="orders" dataKey="id" [rows]="4" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['ref','shipping.governorate','buyer.firstName','buyer.lastName','creationDate','status']" responsiveLayout="scroll">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
          <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width: 12rem">
            <div class="flex justify-content-between align-items-center">
              Referance
              <p-columnFilter type="text" field="ref" display="menu" placeholder="Search by name"></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 12rem">
            <div class="flex justify-content-between align-items-center">
              Governorate
              <p-columnFilter type="text" field="shipping.governorate" display="menu" placeholder="Search by country"></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 14rem">
            <div class="flex justify-content-between align-items-center">
              Buyer Name
              <p-columnFilter field="representative" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                <ng-template pTemplate="header">
                  <div class="px-3 pt-3 pb-0">
                    <span class="font-bold">Agent Picker</span>
                  </div>
                </ng-template>
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-multiSelect [ngModel]="value" [options]="representatives" placeholder="Any" (onChange)="filter($event.value)" optionLabel="name">
                    <ng-template let-option pTemplate="item">
                      <div class="p-multiselect-representative-option">
                        <span class="ml-2">{{option.name}}</span>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex justify-content-between align-items-center">
              Date
              <p-columnFilter type="date" field="creationDate" display="menu" placeholder="dd/mm/yyyy"></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex justify-content-between align-items-center">
              Sum
              <p-columnFilter type="numeric" field="sum" display="menu" currency="TND"></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 12rem">
            <div class="flex justify-content-between align-items-center">
              Status
              <p-columnFilter field="corss" matchMode="equals" display="menu">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any" [style]="{'min-width': '12rem'}" >
                    <ng-template let-option pTemplate="item">
                      <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>
          <th style="min-width: 8rem">
            <div class="flex justify-content-between align-items-center">
              Payed
              <p-columnFilter type="boolean" field="status" display="menu"></p-columnFilter>
            </div>
          </th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-c >
        <tr>
          <td>
            {{c.ref}}
          </td>
          <td>
            <span class="image-text ml-2">{{c.shipping.governorate}}</span>
          </td>
          <td>
            <span class="image-text ml-2">{{c.buyer.lastName+' '+c.buyer.firstName}}</span>
          </td>
          <td>
            {{c.creationDate | date: 'dd/MM/yyyy'}}
          </td>
          <td>
            {{c.sum| currency:'TND':'symbol'}}
          </td>
          <td>
            <span [class]="'customer-badge status-' + c.status">{{c.status}}</span>
          </td>
          <td class="text-center">
            <i class="pi" [ngClass]="{'true-icon pi-check-circle text-green-500': (c.status=='ACCEPTED_PAYMENT'), 'false-icon pi-times-circle text-pink-500': (c.status!='ACCEPTED_PAYMENT')}"></i>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">No customers found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>
