

<div class="pd-ltr-20">
  <div class="card-box pd-20 height-100-p mb-30">
    <div class="row align-items-center">
      <div class="col-md-4">
        <img src="../../../assets/vendors/images/banner-img.png" alt="" />
      </div>
      <div class="col-md-8">
        <h4 class="font-20 weight-500 mb-10 text-capitalize">
          Welcome back
          <div class="weight-600 font-30 text-blue">{{user.firstName}} {{user.lastName}}</div>
        </h4>
        <p class="font-18 max-width-600">

          Delivery management is crucial for the success of any Store It ensures that products are delivered on time and in good condition,
           which in turn leads to happy customers and increased sales.
        </p>
      </div>
    </div>
  </div>




  <div class="row pb-10">
    <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
      <div class="card-box height-100-p widget-style3">
        <div class="d-flex flex-wrap">
          <div class="widget-data">
            <div class="weight-700 font-24 text-dark">{{cpdf}}</div>
            <div class="font-14 text-secondary weight-500">
              Delivered
            </div>
          </div>
          <div class="widget-icon">
            <div class="icon" >
              <span class="icon-copy bi bi-box-seam"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
      <div class="card-box height-100-p widget-style3">
        <div class="d-flex flex-wrap">
          <div class="widget-data">
            <div class="weight-700 font-24 text-dark">{{cpof}}</div>
            <div class="font-14 text-secondary weight-500">
              On The Way
            </div>
          </div>
          <div class="widget-icon">
            <div class="icon" >
              <span class="icon-copy  bi bi-signpost-split"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
      <div class="card-box height-100-p widget-style3">
        <div class="d-flex flex-wrap">
          <div class="widget-data">
            <div class="weight-700 font-24 text-dark">{{cprf}}</div>
            <div class="font-14 text-secondary weight-500">
              Returned
            </div>
          </div>
          <div class="widget-icon">
            <div class="icon">
              <i
                class="icon-copy bi bi-truck"
                aria-hidden="true"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
      <div class="card-box height-100-p widget-style3">
        <div class="d-flex flex-wrap">
          <div class="widget-data">
            <div class="weight-700 font-24 text-dark">{{sppf}} Dt</div>
            <div class="font-14 text-secondary weight-500"> My Earn</div>
          </div>
          <div class="widget-icon">
            <div class="icon" >
              <i class="icon-copy bi bi-cash" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



