
  <h1 class="dash__h1 u-s-m-b-30">Order Details</h1>
  <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
    <div class="dash__pad-2">
      <div class="dash-l-r">
        <div>
          <div class="manage-o__text-2 u-c-secondary">Order #305423126</div>
          <div class="manage-o__text u-c-silver">Placed on 26 Oct 2016 09:08:37</div>
        </div>
        <div>
          <div class="manage-o__text-2 u-c-silver">Total:

            <span class="manage-o__text-2 u-c-secondary">$16.00</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
    <div class="dash__pad-2">
      <div class="manage-o">
        <div class="manage-o__header u-s-m-b-30">
          <div class="manage-o__icon"><i class="fas fa-box u-s-m-r-5"></i>

            <span class="manage-o__text">Package 1</span></div>
        </div>
        <div class="dash-l-r">
          <div class="manage-o__text u-c-secondary">Delivered on 26 Oct 2016</div>
          <div class="manage-o__icon"><i class="fas fa-truck u-s-m-r-5"></i>

            <span class="manage-o__text">Standard</span></div>
        </div>
        <div class="manage-o__timeline">
          <div class="timeline-row">
            <div class="col-lg-4 u-s-m-b-30">
              <div class="timeline-step">
                <div class="timeline-l-i timeline-l-i--finish">

                  <span class="timeline-circle"></span></div>

                <span class="timeline-text">Processing</span>
              </div>
            </div>
            <div class="col-lg-4 u-s-m-b-30">
              <div class="timeline-step">
                <div class="timeline-l-i timeline-l-i--finish">

                  <span class="timeline-circle"></span></div>

                <span class="timeline-text">Shipped</span>
              </div>
            </div>
            <div class="col-lg-4 u-s-m-b-30">
              <div class="timeline-step">
                <div class="timeline-l-i">

                  <span class="timeline-circle"></span></div>

                <span class="timeline-text">Delivered</span>
              </div>
            </div>
          </div>
        </div>
        <div class="manage-o__description">
          <div class="description__container">
            <div class="description__img-wrap">

              <img class="u-img-fluid" src="../../../../../assets/front-template/images/product/electronic/product3.jpg" alt=""></div>
            <div class="description-title">Yellow Wireless Headphone</div>
          </div>
          <div class="description__info-wrap">
            <div>

                                                            <span class="manage-o__text-2 u-c-silver">Quantity:

                                                                <span class="manage-o__text-2 u-c-secondary">1</span></span></div>
            <div>

                                                            <span class="manage-o__text-2 u-c-silver">Total:

                                                                <span class="manage-o__text-2 u-c-secondary">$16.00</span></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
        <div class="dash__pad-3">
          <h2 class="dash__h2 u-s-m-b-8">Shipping Address</h2>
          <h2 class="dash__h2 u-s-m-b-8">John Doe</h2>

          <span class="dash__text-2">4247 Ashford Drive Virginia - VA-20006 - USA</span>

          <span class="dash__text-2">(+0) 900901904</span>
        </div>
      </div>
      <div class="dash__box dash__box--bg-white dash__box--shadow dash__box--w">
        <div class="dash__pad-3">
          <h2 class="dash__h2 u-s-m-b-8">Billing Address</h2>
          <h2 class="dash__h2 u-s-m-b-8">John Doe</h2>

          <span class="dash__text-2">4247 Ashford Drive Virginia - VA-20006 - USA</span>

          <span class="dash__text-2">(+0) 900901904</span>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="dash__box dash__box--bg-white dash__box--shadow u-h-100">
        <div class="dash__pad-3">
          <h2 class="dash__h2 u-s-m-b-8">Total Summary</h2>
          <div class="dash-l-r u-s-m-b-8">
            <div class="manage-o__text-2 u-c-secondary">Subtotal</div>
            <div class="manage-o__text-2 u-c-secondary">$16.00</div>
          </div>
          <div class="dash-l-r u-s-m-b-8">
            <div class="manage-o__text-2 u-c-secondary">Shipping Fee</div>
            <div class="manage-o__text-2 u-c-secondary">$16.00</div>
          </div>
          <div class="dash-l-r u-s-m-b-8">
            <div class="manage-o__text-2 u-c-secondary">Total</div>
            <div class="manage-o__text-2 u-c-secondary">$30.00</div>
          </div>

          <span class="dash__text-2">Paid by Cash on Delivery</span>
        </div>
      </div>
    </div>
  </div>

