
<div class="config">

  <!--====== Main App ======-->
  <div id="app">

    <!--====== Main Header ======-->
    <app-header></app-header>
    <!--====== End - Main Header ======-->

    <div *ngIf="request.length==0" class="app-content">
      <app-not-found></app-not-found>
    </div>

    <!--====== App Content ======-->
    <div *ngIf="request.length!=0" class="app-content">


      <!--====== Section 1 ======-->
      <div class="u-s-p-y-60">

        <!--====== Section Content ======-->
        <div class="section__content">
          <div class="container">
            <div class="breadcrumb">
              <div class="breadcrumb__wrap">
                <ul class="breadcrumb__list">
                  <li class="has-separator">

                    <a href="../../../../index.html">Home</a></li>
                  <li class="is-marked">

                    <a href="finalize-order.component.html">Checkout</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--====== End - Section 1 ======-->


      <!--====== Section 2 ======-->
      <div class="u-s-p-b-60">

        <!--====== Section Content ======-->
        <div class="section__content">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div id="checkout-msg-group">
                  <div class="msg u-s-m-b-30">

                                        <span class="msg__text">Returning customer?

                                            <a class="gl-link" href="#return-customer" data-toggle="collapse">Click here to login</a></span>
                    <div class="collapse" id="return-customer" data-parent="#checkout-msg-group">
                      <div class="l-f u-s-m-b-16">

                        <span class="gl-text u-s-m-b-16">If you have an account with us, please log in.</span>
                        <form class="l-f__form">
                          <div class="gl-inline">
                            <div class="u-s-m-b-15">

                              <label class="gl-label" for="login-email">E-MAIL *</label>

                              <input class="input-text input-text--primary-style" type="text" id="login-email" placeholder="Enter E-mail"></div>
                            <div class="u-s-m-b-15">

                              <label class="gl-label" for="login-password">PASSWORD *</label>

                              <input class="input-text input-text--primary-style" type="text" id="login-password" placeholder="Enter Password"></div>
                          </div>
                          <div class="gl-inline">
                            <div class="u-s-m-b-15">

                              <button class="btn btn--e-transparent-brand-b-2" type="submit">LOGIN</button></div>
                            <div class="u-s-m-b-15">

                              <a class="gl-link" href="../../../../assets/front-template/lost-password.html">Lost Your Password?</a></div>
                          </div>

                          <!--====== Check Box ======-->
                          <div class="check-box">

                            <input type="checkbox" id="remember-me">
                            <div class="check-box__state check-box__state--primary">

                              <label class="check-box__label" for="remember-me">Remember Me</label></div>
                          </div>
                          <!--====== End - Check Box ======-->
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="msg">

                                        <span class="msg__text">Use ur points ?

                                            <a class="gl-link" href="#have-coupon" data-toggle="collapse">Click Here to enter your how much point to use</a></span>
                    <div class="collapse" id="have-coupon" data-parent="#checkout-msg-group">
                      <div class="c-f u-s-m-b-16">

                        <span class="gl-text u-s-m-b-16">Enter your coupon code if you have one.</span>
                        <form class="c-f__form">
                          <div class="u-s-m-b-16">
                            <div class="u-s-m-b-15">

                              <label for="coupon"></label>

                              <input class="input-text input-text--primary-style" type="text" id="coupon" placeholder="Coupon Code"></div>
                            <div class="u-s-m-b-15">

                              <button class="btn btn--e-transparent-brand-b-2" type="submit">APPLY</button></div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--====== End - Section Content ======-->
      </div>
      <!--====== End - Section 2 ======-->


      <!--====== Section 3 ======-->
      <div class="u-s-p-b-60">

        <!--====== Section Content ======-->
        <div class="section__content">
          <div class="container">
            <div class="checkout-f">
              <div class="row">
                <div class="col-lg-12">
                  <h1 class="checkout-f__h1">ORDER SUMMARY</h1>

                  <!--====== Order Summary ======-->
                  <div class="o-summary">
                    <div class="o-summary__section u-s-m-b-30">
                      <div class="o-summary__item-wrap gl-scroll">
                        <div class="o-card" *ngFor="let pq of request">
                          <div class="o-card__flex">
                            <div class="o-card__img-wrap">

                              <img class="u-img-fluid" src="../../../../assets/front-template/images/product/{{pq.product.image}}" alt=""></div>
                            <div class="o-card__info-wrap">

                                                            <span class="o-card__name">

                                                                <a href="../../../../assets/front-template/product-detail.html">{{pq.product.name}}</a></span>

                              <span class="o-card__quantity">Quantity x {{pq.quantity}}</span>

                              <span class="o-card__price">DT {{pq.product.productPrice}}</span></div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="o-summary__section u-s-m-b-30">
                      <div class="o-summary__box">
                        <h1 class="checkout-f__h1">SHIPPING & BILLING</h1>
                        <div class="ship-b">

                          <span class="ship-b__text">Ship to:</span>
                          <div class="ship-b__box u-s-m-b-10">
                            <p class="ship-b__p" *ngIf="requestOrder.shipping" >{{requestOrder.shipping.city}} {{requestOrder.shipping.governorate}} {{requestOrder.shipping.gpsPoint}}</p>
                            <p class="ship-b__p" *ngIf="!requestOrder.shipping" >Shipping address is empty add new address ...</p>
                            <a class="ship-b__edit btn--e-transparent-platinum-b-2" type="button"  data-toggle="modal" data-target="#edit-ship-address" >Edit</a>
                          </div>
                      </div>
                    </div>
                    <div class="o-summary__section u-s-m-b-30">
                      <div class="o-summary__box">
                        <table class="o-summary__table">
                          <tbody>
                          <tr>
                            <td>SHIPPING</td>
                            <td>DT {{requestOrder.deliveryPrice}}</td>
                          </tr>
                          <tr>
                            <td>TAX</td>
                            <td>DT 0.00</td>
                          </tr>
                          <tr>
                            <td>SUBTOTAL</td>
                            <td>DT {{requestOrder.sum}}</td>
                          </tr>
                          <tr>
                            <td>GRAND TOTAL</td>
                            <td>DT {{requestOrder.sum + requestOrder.deliveryPrice}}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="o-summary__section u-s-m-b-30">
                      <div class="o-summary__box">
                        <h1 class="checkout-f__h1">PAYMENT INFORMATION</h1>
                        <form class="checkout-f__payment">
                          <div class="u-s-m-b-10">

                            <!--====== Radio Box ======-->
                            <div class="radio-box">

                              <input type="radio" id="cash-on-delivery" name="payment" checked="" (change)="onChangePayement('cash')">
                              <div class="radio-box__state radio-box__state--primary">

                                <label class="radio-box__label" for="cash-on-delivery" >Cash on Delivery</label></div>
                            </div>
                            <!--====== End - Radio Box ======-->

                            <span class="gl-text u-s-m-t-6">Pay Upon Cash on delivery. (This service is only available for some countries)</span>
                          </div>
                          <div class="u-s-m-b-10">

                            <!--====== Radio Box ======-->
                            <div class="radio-box">

                              <input type="radio" id="pay-with-card" name="payment"   (change)="onChangePayement('card')">
                              <div class="radio-box__state radio-box__state--primary">

                                <label class="radio-box__label" for="pay-with-card">Pay With Credit / Debit Card</label></div>
                            </div>
                            <!--====== End - Radio Box ======-->

                            <span class="gl-text u-s-m-t-6">International Credit Cards must be eligible for use within the United States.</span>
                          </div>
                          <div class="u-s-m-b-15">

                            <!--====== Check Box ======-->
                            <div class="check-box">

                              <input type="checkbox" id="term-and-condition" (click)="checkedFn()">
                              <div class="check-box__state check-box__state--primary">

                                <label class="check-box__label" for="term-and-condition">I consent to the</label></div>
                            </div>
                            <!--====== End - Check Box ======-->

                            <a class="gl-link">Terms of Service.</a>
                          </div>
                          <div>
                            <button class="btn btn--e-brand-b-2" data-toggle="modal" data-target="#ShowConfirmation"  *ngIf="pay=='cash' && ch" (click)="endPaimentProcess()">PLACE ORDER</button>
                            <button class="btn btn--e-brand-b-2"  *ngIf="pay=='card' && ch" (click)="makePayment(requestOrder.sum+requestOrder.deliveryPrice)" >Pay DT{{requestOrder.sum+requestOrder.deliveryPrice}}</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <!--====== End - Order Summary ======-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--====== End - Section Content ======-->
      </div>
      <!--====== End - Section 3 ======-->
    </div>
    <!--====== End - App Content ======-->

    </div>
      <!--====== Main Footer ======-->
    <app-footer></app-footer>
    <!--====== Modal Section ======-->


    <!--====== Shipping Address Add Modal ======-->
    <div class="modal fade" id="edit-ship-address">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <div class="checkout-modal2">
              <div class="u-s-m-b-30">
                <div class="dash-l-r">
                  <h1 class="gl-modal-h1">Shipping Address</h1>
                  <div class="dash__link dash__link--brand">

                    <a data-toggle="modal" data-target="#add-ship-address">Add new Address</a></div>
                </div>
              </div>
              <form class="checkout-modal1__form">
                <div class="dash__table-2-wrap u-s-m-b-30 gl-scroll">
                  <table class="dash__table-2">
                    <thead>
                    <tr>
                      <th>Action</th>
                      <th>Governorate</th>
                      <th>City Name</th>
                      <th>Address</th>
                      <th>Phone Number</th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let s of shipping">
                      <td>

                        <!--====== Radio Box ======-->
                        <div class="radio-box">
                          <!--  <div *ngIf="requestOrder.shipping">-->
                            <input type="radio" id="address-1" name="default-address" checked="" (click)="onShippingSelected(s.id)" *ngIf="requestOrder.shipping && s.id==requestOrder.shipping.id" >
                            <input type="radio" id="address-1" name="default-address"  (click)="onShippingSelected(s.id)" *ngIf="requestOrder.shipping && s.id!=requestOrder.shipping.id">
                          <!--  </div>-->
                            <input type="radio" id="address-1" name="default-address" checked="" (click)="onShippingSelected(s.id)" *ngIf="!requestOrder.shipping" >
                            <div class="radio-box__state radio-box__state--primary">
                              <label class="radio-box__label" for="address-1"></label>
                            </div>
                          </div>
                          <!--====== End - Radio Box ======-->
                      </td>
                      <td>{{s.city}}</td>
                      <td>{{s.governorate}}</td>
                      <td>{{s.gpsPoint}}</td>
                      <td>{{s.buyer.phoneNumber}}</td>
                      <td><a class="o-card__del far fa-trash-alt" (click)="deleteShipping(s.id)"></a></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="gl-modal-btn-group">

                  <button class="btn btn--e-brand-b-2" type="submit">SAVE</button>

                  <button class="btn btn--e-grey-b-2" type="button" data-dismiss="modal">CANCEL</button></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--====== End - Shipping Address Add Modal ======-->



    <!--====== Shipping Address Add Modal ======-->
    <div class="modal fade" id="add-ship-address">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <div class="checkout-modal1">
              <form name="form" (submit)="addForm()" #f="ngForm"  class="checkout-modal1__form">
                <div class="f-cart__pad-box">
                  <h1 class="gl-h1">ESTIMATE SHIPPING AND TAXES</h1>

                  <div class="u-s-m-b-30">

                    <!--====== Select Box ======-->

                    <label class="gl-label" for="shipping-state">STATE/PROVINCE *</label><select [(ngModel)]="form.city" name="city" id="city" class="select-box select-box--primary-style" id="shipping-state">
                    <optgroup *ngFor="let g of city"  label="{{g.name}}">
                      <option *ngFor="let i of g.cities" [value]="i">{{ i }}</option>
                    </optgroup>
                  </select>
                    <!--====== End - Select Box ======-->
                  </div>
                  <div class="u-s-m-b-30">

                    <label class="gl-label" for="gpsPoint">EXACTE ADRESS *</label>

                    <input class="input-text input-text--primary-style" type="text" [(ngModel)]="form.gpsPoint" id="gpsPoint" name="gpsPoint" placeholder="EXACTE ADRESS..."></div>
                  <div class="gl-modal-btn-group">
                    <button class="f-cart__ship-link btn--e-transparent-brand-b-2"  type="submit">ADD SHIPPING GEOLOCATION</button> <button class="btn btn--e-grey-b-2" type="button" data-dismiss="modal">CANCEL</button></div>
                </div>


                <span class="gl-text">Note: There are some countries where free shipping is available otherwise our flat rate charges or country delivery charges will be apply.</span>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--====== End - Shipping Address Add Modal ======-->

      <div class="modal fade" id="ShowConfirmation">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="checkout-modal1">
                    <div class="f-cart__pad-box">
                      <div class="section__text-wrap">
                        <h1 class="section__heading u-c-brand">{{msg}}</h1>
                      </div>
                      <a class="gl-text u-s-m-t-6">On behalf of our entire team, I would like to express our sincerest gratitude for choosing our Marketplace website for all your shopping needs. We understand that you have many options available to you, and we are truly honored that you have decided to shop with us.</a>
                      <br>

                      <button (click)="gotoHome()" class="f-cart__ship-link btn--e-transparent-brand-b-2" type="button" data-dismiss="modal" >OK</button>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--====== End - Modal Section ======-->

    <!--====== End - Main App ======-->
</div>
</div>


