<div class="pd-ltr-20 xs-pd-20-10">
<div class="min-height-200px">
<div class="page-header">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="title">
        <h4>Add Delivery Men</h4>
      </div>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
          <li class="breadcrumb-item " aria-current="page">
            Agency
          </li>
          <li class="breadcrumb-item " aria-current="page">
            Add Delivery Men
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 mb-30" *ngFor="let a of agencyBranch;let i =index">
    <div class="card-box pricing-card mt-30 mb-30">
      <div class="pricing-icon">
        <img src="../../../assets/vendors/images/icon-Cash.png" alt="" />
      </div>
      <div class="price-title">{{a.brandName}}</div>
      <div class="pricing-price">{{cdm[i]}}<sub>/DeliveryMen</sub></div>
      <div class="text">
        {{a.governorate}}-{{a.city}}<br />

      </div>
      <div class="cta">
        <a [routerLink]="['/agency/MyBranch',a.id]" class="btn btn-primary btn-rounded btn-lg"
          >Add DeliveryMen</a
        >
      </div>
    </div>
  </div>
</div>
</div>
</div>
